@import './style.scss';
@import './card.scss';

.page-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $text-color;
  outline: none;
  font-size: 3rem;
}

.link {
  @include link();
}

.not-available-text {
  font-style: italic;
}

section {
  margin-bottom: 2rem;
}

.button {
  @include text;
  @include button;
}

@function grey($amount) {
  @return lighten($color: #000, $amount: $amount);;
}
