@import './style.scss';
@import './card.scss';

.error-title {
  color: hsl(0, 64%, 43%);
  font-size: 1.5rem;
}

.error-msg {
  font-family: monospace;
  font-size: 1rem;
}

.page-title {
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $text-color;
  outline: none;
  font-size: 3rem;
}

.link {
  @include text();
  color: $primary-color;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.not-available-text {
  font-style: italic;
}

section {
  margin-bottom: 2rem;
}

.button {
  @include text;
  @include button;
}
