@import './style.scss';

.error-title {
  color: hsl(0, 64%, 43%);
  font-size: 1.5rem;
}

.error-msg {
  font-family: monospace;
  font-size: 1rem;
}

.page-title {
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: $text-color;
  outline: none;
  font-size: 3rem;
}

.link {
  @include text();
  color: $primary-color;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.not-available-text {
  font-style: italic;
}

.article-card {
  background-color: #fff;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.button {
  @include text;
  @include button;
}
