<!DOCTYPE html>
<html lang="en" data-proddistorigin="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Pieter Fiers</title>
  <meta name="description" content="Pieter Fiers's portfolio.">
  <meta property="og:title" content="Pieter Fiers">
  <meta property="og:description" content="Pieter Fiers's portfolio.">
  <meta property="og:type" content="profile" />
  <meta property="og:profile:first_name" content="Pieter" />
  <meta property="og:profile:last_name" content="Fiers" />
  <meta property="og:profile:username" content="pfiers" />

  <style>
    html, body, #app {
      margin: 0;
      height: 100%;
      width: 100%;
    }
    * {
      box-sizing: border-box;
    }
    .script-warning {
      margin: 0.5em;
      color: darkorange;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <noscript>
    <p class="script-warning">
      Script execution is disabled. 
      You should still see a static version of the site. If not, please contact me <a href="mailto:pieter@pfiers.net">pieter@pfiers.net</a>.
    </p>
  </noscript>
  <p id="es6-warning" class="script-warning hidden">
    Your browser does not support a recent enough JavaScript version to run this site.
    You should still see a static version of the site. If not, please contact me <a href="mailto:pieter@pfiers.net">pieter@pfiers.net</a>.
  </p>
  <div id="app"></div>
</body>
</html>
