<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Pieter Fiers</title>
  <meta name="description" content="Pieter Fiers's portfolio.">
  <meta property="og:title" content="Pieter Fiers">
  <meta property="og:description" content="Pieter Fiers's portfolio.">
  <meta property="og:type" content="profile" />
  <meta property="og:profile:first_name" content="Pieter" />
  <meta property="og:profile:last_name" content="Fiers" />
  <meta property="og:profile:username" content="pfiers" />
<script type="application/json" id="__content-dom-cache">{"editor":{"description":{"text":"**Give it a try!**\n\nYou can edit &lt;sub&gt;&lt;sup&gt;almost&lt;/sup&gt;&lt;/sub&gt; all of the content on this site!  \nYep, even this text *right here*. Meta (°ｏ°)\n"}},"home":{"long":{"url":"c:home.md","cachedText":"Hi! I like maps, microcontrollers and making convoluted programs for simple problems. Check out some of the [projects](/projects) I've made or [technologies](/technologies) I like using. *[About this site](/projects/this-site/)*\n\n[Resume](c:resume.html)\n\nWant to get in touch?  \npieter@pfiers.net — [LinkedIn](e:https://www.linkedin.com/in/pieter-fiers-00916b1a2) — [GitHub](e:https://github.com/ubipo)\n\n![Computer rendered top-down view of buildings and river](c:home-md-min4.png \"OSM and BlenderGIS going together like open data and OSS\")"}},"projects":[{"name":"Andin","description":"An indoor map for android.","technologies":["Android","Kotlin","GraphQL","Go","Python","SQL"],"gitUrl":"https://github.com/ubipo/andin-api","imgUrl":"c:andin.jpg","long":{"url":"c:andin.md"}},{"name":"Vrijwilligersparaat","description":"Temporary site to coordinate volunteer efforts during the COVID-19 crisis in Belgium.","technologies":["Python","SQL","Web"],"imgUrl":"c:vrijwilligersparaat.png","siteUrl":"https://vrijwilligersparaat.be/","long":{"url":"c:vrijwilligersparaat.md"}},{"name":"Kinect Mouse Tracker","description":"Processes live Microsoft kinect data to deduce a mouse's position inside an enclosed pen. Made during my internship at NERF.","technologies":["C++","Hardware interfacing","OpenCV"],"abrv":"KMT","gitUrl":"https://github.com/ubipo/kmt","imgUrl":"c:kmt.jpg","long":{"url":"c:kmt.md"},"short":{"text":"Processes live \n[Microsoft kinect](https://developer.microsoft.com/en-us/windows/kinect/) data \nto deduce a mouse's position inside an enclosed pen.\nMade during my internship at [NERF](https://www.nerf.be).\n"}},{"name":"DSpay - Digital School Pay","description":"My high-school thesis which researches the viability and implements a prototype of a digital payment system at school.","technologies":["Web","JavaScript","Microcontrollers","Node.js","SQL"],"abrv":"DSpay","imgUrl":"c:dspay.png","long":{"url":"c:dspay.md"}},{"name":"Osm Contact Info Corrector","description":"Webapp to add and correct contact info on openstreetmap.","technologies":["TypeScript","Web","Webpack"],"abrv":"OCIC","gitUrl":"https://github.com/ubipo/opf","imgUrl":"c:ocic.jpg","siteUrl":"https://opf.osm.be/"},{"name":"Trend-Friends","description":"School assignment to make a static, accessible site.","technologies":["Web"],"gitUrl":"https://github.com/ubipo/trend-friends","imgUrl":"c:trend-friends.jpg"},{"name":"Esp Water Meter","description":"OCR water usage monitoring.","technologies":["C++","Microcontrollers","Hardware interfacing","OpenCV","Python"],"abrv":"EWM","imgUrl":"c:ewam.jpg","long":{"text":"This was my first foray into PCB design (I used\n[EasyEDA](https://easyeda.com/), by recommendation\nof [GreatScott](https://www.youtube.com/channel/UC6mIxFTvXkWQVEHPsEdflzQ)).\nIt was also my first time creating something with machine vision.\nI used [Python Flask](https://flask.palletsprojects.com) for the server\nand a homegrown [PyTorch](https://pytorch.org/) \n[neural net](https://en.wikipedia.org/wiki/Artificial_neural_network).\n\n![Picture processed by my digit-recognition net](c:ewam-processed.jpg \"Processed\")\n\n![Picture of the PCB](c:ewam.jpg \"PCB\")\n"},"short":{"text":"OCR water usage monitoring. Consisting of an\n[ESP8266](https://www.espressif.com/en/products/socs/esp8266) + \n[Arducam](https://www.arducam.com/) and a \n[Python Flask server](https://flask.palletsprojects.com)\nwith a [PyTorch](https://pytorch.org/) neural net running on \na Raspberry Pi.\n"}},{"name":"Dorm Controller 9000","description":"Hobby domotics project with a custom HTTP server running on an ESP-12E microcontroller.","technologies":["C++","Microcontrollers","Hardware interfacing","Web"],"abrv":"DCNT","gitUrl":"https://github.com/ubipo/dcnt","long":{"text":"Your run-of-the-mill DIY domotics project really: a Raspberry Pi running \n[Mosquitto MQTT](https://mosquitto.org/) and \n[Home Assistant](https://www.home-assistant.io/), a bunch of\n[ESP8266](https://www.espressif.com/en/products/socs/esp8266)/32/12E's,\nand a whole lot of automation. For that last part I like to use\n[Node-RED](https://nodered.org/).\n"}},{"name":"This site ;)","description":"Dynamic in more than one way, using Vue 3 and Fetch for its content.","technologies":["TypeScript","Web","Webpack","Vue.js"],"urlSafeName":"this-site","gitUrl":"https://github.com/ubipo/pieterfiers.net","long":{"text":"### And I can prove it!  \nSee that little pencil button in the bottom right of the page?\nClick it to open a [live editor](/edit) of the site's content.\n\n### But why?\nSimple: I wanted the [fast page transitions](e:https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fpfiers.net) that come with client-side\nrendering.\n\n### Doesn't that make the initial page load slow?\nNope! :)  \nAll pages are [pre-rendered](e:https://github.com/chrisvfritz/prerender-spa-plugin)\nwhen I publish [a new version](e:https://github.com/ubipo/pfiers.net/releases).\nAnd I usually publish a new version anytime I updated the site content.\n\n### But wait, prerendering kinda defeats the purpose of a SPA then, right?\nWell yes and no.  \nNo because the page transitions are still measurably faster.\nAnd yes because I have to run the prerender every time I update the content.\nLuckily I have [GitHub actions](e:https://github.com/ubipo/pfiers.net/actions) for that.\n"},"short":{"text":"Dynamic in more than one way, using [Vue 3](https://v3.vuejs.org/) and\n[Fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) for \nits content. Did you know you can [edit it](r:/edit)?\n"}}],"technologies":[{"name":"OpenCV","wikiArticleName":null,"siteUrl":"https://opencv.org/"},{"name":"Android","wikiArticleName":"Android_(operating_system)","siteUrl":"https://www.android.com/"},{"name":"Kotlin","wikiArticleName":"Kotlin_(programming_language)","siteUrl":"https://kotlinlang.org/"},{"name":"GraphQL","wikiArticleName":null,"siteUrl":"https://graphql.org/"},{"name":"Go","wikiArticleName":"Go_(programming_language)","siteUrl":"https://golang.org/"},{"name":"C++","urlSafeName":"cpp","wikiArticleName":null},{"name":"Hardware interfacing","iconName":"hwint","short":{"text":"This is a bit of vague category. And not really a technology.\nI did want to include it here because interfacing with the\nreal world is one of my favorite parts of computing.\n"}},{"name":"TypeScript","iconName":"ts","wikiArticleName":null,"siteUrl":"https://www.typescriptlang.org/"},{"name":"JavaScript","iconName":"js","wikiArticleName":null},{"name":"Webpack","wikiArticleName":null,"siteUrl":"https://webpack.js.org/"},{"name":"Web","wikiArticleName":"World_Wide_Web"},{"name":"Microcontrollers","iconName":"microcontroller","wikiArticleName":null},{"name":"Node.js","urlSafeName":"nodejs","wikiArticleName":null,"siteUrl":"https://nodejs.org/en/"},{"name":"SQL","wikiArticleName":null,"short":{"text":"Everyone has a favorite rdbms, right? Mine's [PostgreSQL](e:https://www.postgresql.org/)."}},{"name":"Python","wikiArticleName":"Python_(programming_language)","siteUrl":"https://www.python.org/"},{"name":"Vue.js","urlSafeName":"vuejs","wikiArticleName":null,"siteUrl":"https://vuejs.org/"}]}</script>
  <style>
    html, body, #app {
      margin: 0;
      height: 100%;
      width: 100%;
    }
    * {
      box-sizing: border-box;
    }
    [hide="true"] {
      display: none
    }
    #injection-error-title, #noscript-error {
      color: darkred;
    }
  </style>
</head>
<body>
  <noscript>
    <p>
      Script execution is disabled. 
      You should still see a static version of the site. If not, please contact me <a href="mailto:pieter@pfiers.net">pieter@pfiers.net</a>.
    </p>
  </noscript>
  <div id="injection-error-container" hide="true">
    <h1 id="injection-error-title">
      An unknown error occured while trying to load the page content. 
      Please try reloading and letting me know when the problem persists (<a href="mailto:pieter@pfiers.net">pieter@pfiers.net</a>).
      If all else fails, try disabling javascript.
    </h1>
    <p></p>
  </div>
  <div id="app"></div>
</body></html>